<main class="border-b border-t border-slate-400">
	<div class="max-w-screen-lg mx-auto w-full">
		<div class="px-3 py-5 flex gap-3 items-end">
			<div class="h-0.5 w-10 bg-[#ff5959]"></div>
			<h1 class="text-2xl font-bold text-[#ff5959] tracking-widest">
				<%= title %>
			</h1>
		</div>
		<div class="mx-auto w-3/4 pt-5 pb-20">