<header class="">
	<div class="max-w-screen-lg mx-auto w-full">
		<nav
			class="list-none flex gap-20 justify-between items-center p-3 text-slate-600"
		>
			<li class="grow">
				<a
					href="/"
					class="flex"
					><div class="group hover:text-slate-800">
						Библиотека <span class="uppercase">Медведа</span>
						<span
							class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-[#ff5959]"
						></span>
					</div>
				</a>
			</li>
			<li>
				<a
					href="/api/books/"
					class="group hover:text-slate-800"
					>список книг<span
						class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-[#ff5959]"
					></span>
				</a>
			</li>
			<li>
				<a
					href="/user/login/"
					class="group hover:text-slate-800"
					>войти в аккаунт
					<span
						class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-[#ff5959]"
					></span>
				</a>
			</li>
		</nav>
	</div>
</header>